.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.Cards {
  box-shadow: inset;
}

.Card {
  width: 80vw;
  text-align: center;
  margin-top: 20px;
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 20px;
}

.microphone-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.microphone-result-text {
  font-style: italic;
}

.microphone-icon-container {
  width: 500px;
}
